<footer class="site-footer">
  <p style="margin:0 0 6px;">
    Brought to you by the makers of
    <a href="https://musicmind.vp-fun.com/" target="_blank" rel="noopener" style="color:var(--orange-deep); font-weight:700; text-decoration:none;">MusicMind for Plex</a>
    &amp;
    <a href="https://ridermusic.vp-fun.com/" target="_blank" rel="noopener" style="color:var(--orange-deep); font-weight:700; text-decoration:none;">RiderMusic Jukebox</a>
  </p>
  <p style="margin:0;">
    &copy; {{ current_year }}
    <a href="https://verbenaprojects.com/" target="_blank" rel="noopener" style="color:inherit; text-decoration:underline;">Verbena Projects LLC</a>
    ·
    <a href="https://vp-fun.com/" target="_blank" rel="noopener" style="color:inherit; text-decoration:underline;">vp-fun.com</a>
  </p>
</footer>
