<div id="now-playing-bar" class="now-playing-bar" hidden>
  <img id="np-art" class="np-art" alt="">
  <div class="np-info">
    <div id="np-title" class="np-title"></div>
    <div id="np-artist" class="np-artist"></div>
  </div>
  <div class="np-controls">
    <button id="np-prev" class="np-btn-nav" title="Previous">⏮</button>
    <button id="np-playpause" class="np-btn-play">▶</button>
    <button id="np-next" class="np-btn-nav" title="Next">⏭</button>
  </div>
  <div class="np-volume-wrap">
    <span class="np-volume-icon">🔊</span>
    <input id="np-volume" type="range" min="0" max="100" value="80">
  </div>
  <audio id="audio-el"></audio>
</div>
